html {}

body {
	margin-top:90px;
	background: #000;
	color: #fff;
	font-family: 'Karla', sans-serif;
	font-size:1em;
	
	 -webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s; 
   -ms-animation: fadein 2s; 
    -o-animation: fadein 2; 
     animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}


h1 {
	font-size:2em;
	text-align: center;
	margin-bottom: .5em;

}

h2 {

	text-align: center;
	font-size: 2.5em;
}

h3 {
	text-align: center;
	font-size: 1.7em;
	margin-bottom:.3em;
	line-height: .95em;
}


h4 {
	font-size:1.5em;
	font-family: 'Lekton', sans-serif;
}

h5 {
	font-size:.9em;
	text-transform: uppercase;
	margin-bottom: .3em;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px auto;

}

a {
	text-decoration: none;
	color: #fff;
	  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover {
	color: #0000ff;
}

hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 60%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid #000;
       border-bottom: 1px solid #000;
    }


p {
  font-size: 1em;
}


/* Layout Styles */

.play {

			max-width: 32rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            color: #000;
            display: flex;
}


.main-header {
	text-align: center;


}


.col {
	padding: 3em;
	background-color: #fff;
	color: #000;
	text-align: center;
	margin: 30px;
		 -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}

.primary {
	padding: 1.5em;
	background-color: #fff;
	color: #000;
	text-align: center;
	margin: 30px;
	-webkit-animation: fadein 4s; 
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4; /* Opera < 12.1 */
  animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}

.primary a {
	text-decoration: none;
	color: #000;
	  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.main-footer {
	color:#fff;
	font-size:11px;
	text-align: center;
	margin-top: 100px;
}

.w3-btn {
    background-color: #fff; 
    color:#000;
    border: #000 solid 2px;
    color: #000;
    margin-top:12px;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8em;
     -webkit-transition-duration: 1s; 
    transition-duration: 1s;
}

.w3-btn:hover {
    background-color: #000; 
    color: #ffffff;
}

.primary a:hover {
	color: #0000ff;
}

/* Email Signup mail chimppppppp */


#mailchimp {
  color: #000;
  margin-top:100px;


}
#mailchimp input {
  border: medium none;
  color: #fff;
  font-family: "karla", sans-serif;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 10px;
  width: 320px;

}
#mailchimp input.email {
  background: #000;
  border: #fff solid 2px;

}
#mailchimp input.name { background: #fff}
#mailchimp input[type="submit"] {
  background: none;
  color: #fff;
  font-size: 18px;
  width: 25%%
  -webkit-transition-duration: 1s; 
  transition-duration: 1s;

}

#mailchimp input[type="submit"]:hover {
 color: #fff;
 font-style: italic;


 }


input:focus {
    outline:none !important;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
		.content {
		color: #000;
		display: flex;
		margin: 0 auto;
		max-width: 1150px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		
	 }

	
		.col {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		width: 30%;
		text-align: center;
		justify-content: center;
		margin: 30px;
		align-self: flex-start
		}

		.primary {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		width: 50%;
		text-align: center;
		justify-content: center;
		margin: 10px;
		align-self: flex-start
		}


		.primary a:hover {
			color: #0000ff;

		}

		.white a:hover {
			color:#fff;
		}

		
		

.thumbnail:hover {
    opacity: .6;
    }


.thumbnail {
    max-width: 100%;
    height: auto;
    margin: 10px;

    opacity: 1;
    
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
     
   }


@media (min-width: 1025px) {

	.main-header {

    	margin: 0 auto;
    	padding-bottom: 3em;
		  display: flex;
		 flex-direction: column;
		 justify-content: center;
		 width: 50%;
		
	}


